<a href="https://colab.research.google.com/github/Tclack88/DS-Unit-3-Sprint-1-Software-Engineering/blob/master/assignment2_Testing_Improved_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
!pip install -i https://test.pypi.org/simple/ lambdata-tclack==0.1.4

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: lambdata-tclack==0.1.4 in /usr/local/lib/python3.6/dist-packages (0.1.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from lambdata-tclack==0.1.4) (0.25.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from lambdata-tclack==0.1.4) (1.17.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->lambdata-tclack==0.1.4) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->lambdata-tclack==0.1.4) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->lambdata-tclack==0.1.4) (1.12.0)

In [28]:
import pandas as pd

# examply of a messy dataframe, look at those columns, gross!!
url = "https://raw.githubusercontent.com/realpython/python-data-cleaning/master/Datasets/BL-Flickr-Images-Book.csv"
df = pd.read_csv(url)
df.head()

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 15 columns]

In [0]:
from lambdata_tclack.df_utils import ImprovedDataFrame

In [30]:
type(df)  # check the original type is a pandas dataframe

pandas.core.frame.DataFrame

In [0]:
df = ImprovedDataFrame(df)  # convert to animiproved dataframe

In [32]:
type(df)  # check the new type is an "improved dataframe"

lambdata_tclack.df_utils.ImprovedDataFrame

### Run my new methods

In [33]:
df.simplify_cols()

      identifier  ...                                         shelfmarks
0            206  ...                  British Library HMNTS 12641.b.30.
1            216  ...                  British Library HMNTS 12626.cc.2.
2            218  ...                  British Library HMNTS 12625.dd.1.
3            472  ...                British Library HMNTS 10369.bbb.15.
4            480  ...                   British Library HMNTS 9007.d.28.
...          ...  ...                                                ...
8282     4158088  ...  British Library HMNTS|British Library HMNTS 10...
8283     4158128  ...  British Library HMNTS|British Library HMNTS 10...
8284     4159563  ...  British Library HMNTS|British Library HMNTS 19...
8285     4159587  ...  British Library HMNTS|British Library HMNTS 10...
8286     4160339  ...  British Library HMNTS|British Library HMNTS 79...

[8287 rows x 15 columns]

In [34]:
df.correctify()

          Identifier Edition Statement  ...      Flickr URL      Shelfmarks
0     Mikayla Smells    Mikayla Smells  ...  Mikayla Smells  Mikayla Smells
1     Mikayla Smells    Mikayla Smells  ...  Mikayla Smells  Mikayla Smells
2     Mikayla Smells    Mikayla Smells  ...  Mikayla Smells  Mikayla Smells
3     Mikayla Smells    Mikayla Smells  ...  Mikayla Smells  Mikayla Smells
4     Mikayla Smells    Mikayla Smells  ...  Mikayla Smells  Mikayla Smells
...              ...               ...  ...             ...             ...
8282  Mikayla Smells    Mikayla Smells  ...  Mikayla Smells  Mikayla Smells
8283  Mikayla Smells    Mikayla Smells  ...  Mikayla Smells  Mikayla Smells
8284  Mikayla Smells    Mikayla Smells  ...  Mikayla Smells  Mikayla Smells
8285  Mikayla Smells    Mikayla Smells  ...  Mikayla Smells  Mikayla Smells
8286  Mikayla Smells    Mikayla Smells  ...  Mikayla Smells  Mikayla Smells

[8287 rows x 15 columns]

# :]